Datasource:https://cricsheet.org/

In [1045]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

full_data = pd.read_csv('datasets/Total IPL/IPL_Matches_2008_2022.csv')
balls_data = pd.read_csv('datasets/Total IPL/IPL_Ball_by_Ball_2008_2022.csv')
ipl2023 = pd.read_csv('datasets/IPL 2023/matches.csv')

In [1046]:
balls_data

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [1047]:
full_data

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [1048]:
# Drop rows with missing 'method' values, because we only want to include matches where D/L was not used
full_data = full_data.loc[full_data['method'].isnull()]
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 931 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               931 non-null    int64
 1   City             880 non-null    object
 2   Date             931 non-null    object
 3   Season           931 non-null    object
 4   MatchNumber      931 non-null    object
 5   Team1            931 non-null    object
 6   Team2            931 non-null    object
 7   Venue            931 non-null    object
 8   TossWinner       931 non-null    object
 9   TossDecision     931 non-null    object
 10  SuperOver        927 non-null    object
 11  WinningTeam      927 non-null    object
 12  WonBy            931 non-null    object
 13  Margin           913 non-null    float64
 14  method           0 non-null      object
 15  Player_of_Match  927 non-null    object
 16  Team1Players     931 non-null    object
 17  Team2Players     931 non-null    object
 18  Umpire1          931 non-null    object
 19  Umpire2          931 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 152.7+ KB

In [1049]:
ipl2023.head()

,season,team1,team2,date,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,winner,winner_runs,winner_wickets,match_type
0,2023,Chennai Super Kings,Gujarat Titans,2023/03/31,1,Narendra Modi Stadium,Ahmedabad,Gujarat Titans,field,Rashid Khan,Nitin Menon,HAS Khalid,A Bengeri,J Srinath,Gujarat Titans,NaN,5.0,Group
1,2023,Punjab Kings,Kolkata Knight Riders,2023/04/01,2,Punjab Cricket Association IS Bindra Stadium,Chandigarh,Kolkata Knight Riders,field,Arshdeep Singh,BNJ Oxenford,YC Barde,PM Joshi,M Nayyar,Punjab Kings,7.0,NaN,Group
2,2023,Lucknow Super Giants,Delhi Capitals,2023/04/01,3,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Delhi Capitals,field,MA Wood,AK Chaudhary,NA Patwardhan,M Kuppuraj,DS Manohar,Lucknow Super Giants,50.0,NaN,Group
3,2023,Rajasthan Royals,Sunrisers Hyderabad,2023/04/02,4,Rajiv Gandhi International Stadium,Hyderabad,Sunrisers Hyderabad,field,JC Buttler,KN Ananthapadmanabhan,R Pandit,Abhijit Bhattacharya,V Narayan Kutty,Rajasthan Royals,72.0,NaN,Group
4,2023,Mumbai Indians,Royal Challengers Bangalore,2023/04/02,5,M Chinnaswamy Stadium,Bengaluru,Royal Challengers Bangalore,field,F du Plessis,Nitin Menon,Tapan Sharma,A Bengeri,J Srinath,Royal Challengers Bangalore,NaN,8.0,Group

In [1050]:
useful_data = full_data[['ID','Team1', 'Team2', 'TossWinner', 'TossDecision', 'WinningTeam', 'WonBy', 'Margin']]
useful_data

,ID,Team1,Team2,TossWinner,TossDecision,WinningTeam,WonBy,Margin
0,1312200,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,Gujarat Titans,Wickets,7.0
1,1312199,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,Wickets,7.0
2,1312198,Royal Challengers Bangalore,Lucknow Super Giants,Lucknow Super Giants,field,Royal Challengers Bangalore,Runs,14.0
3,1312197,Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,Wickets,7.0
4,1304116,Sunrisers Hyderabad,Punjab Kings,Sunrisers Hyderabad,bat,Punjab Kings,Wickets,5.0
...,...,...,...,...,...,...,...,...
945,335986,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,Wickets,5.0
946,335985,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,Wickets,5.0
947,335984,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,Wickets,9.0
948,335983,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,Runs,33.0
949,335982,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,Runs,140.0

In [1051]:
ipl2023 = ipl2023[['team1', 'team2', 'toss_winner', 'toss_decision']]
ipl2023 = ipl2023.rename(columns={
    'team1': 'Team1',
    'team2': 'Team2',
    'toss_winner': 'TossWinner',
    'toss_decision': 'TossDecision'
})

ipl2023

,Team1,Team2,TossWinner,TossDecision
0,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field
1,Punjab Kings,Kolkata Knight Riders,Kolkata Knight Riders,field
2,Lucknow Super Giants,Delhi Capitals,Delhi Capitals,field
3,Rajasthan Royals,Sunrisers Hyderabad,Sunrisers Hyderabad,field
4,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field
5,Chennai Super Kings,Lucknow Super Giants,Lucknow Super Giants,field
6,Delhi Capitals,Gujarat Titans,Gujarat Titans,field
7,Punjab Kings,Rajasthan Royals,Rajasthan Royals,field
8,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field
9,Sunrisers Hyderabad,Lucknow Super Giants,Sunrisers Hyderabad,bat
10,Rajasthan Royals,Delhi Capitals,Delhi Capitals,field
11,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field
12,Gujarat Titans,Kolkata Knight Riders,Gujarat Titans,bat
13,Punjab Kings,Sunrisers Hyderabad,Sunrisers Hyderabad,field
14,Royal Challengers Bangalore,Lucknow Super Giants,Lucknow Super Giants,field
15,Delhi Capitals,Mumbai Indians,Mumbai Indians,field
16,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field
17,Punjab Kings,Gujarat Titans,Gujarat Titans,field
18,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field
19,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field
20,Lucknow Super Giants,Punjab Kings,Punjab Kings,field
21,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field
22,Gujarat Titans,Rajasthan Royals,Rajasthan Royals,field
23,Chennai Super Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,field
24,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,field
25,Lucknow Super Giants,Rajasthan Royals,Rajasthan Royals,field
26,Royal Challengers Bangalore,Punjab Kings,Punjab Kings,field
27,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field

In [1052]:
#check which teams in 2023 are new
# Get unique team names from both DataFrames
teams_useful_data = set(useful_data['Team1'].unique()).union(set(useful_data['Team2'].unique()))
teams_ipl2023 = set(ipl2023['Team1'].unique()).union(set(ipl2023['Team2'].unique()))

# Find the difference between the sets
new_teams = teams_ipl2023.difference(teams_useful_data)

print("New teams in ipl2023 not present in useful_data:", new_teams)

New teams in ipl2023 not present in useful_data: set()

In [1053]:
teams_useful_data

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad'}

In [1054]:
print(useful_data.info())
print(ipl2023.info())
#useful_data has four rows with Winning Team missing

<class 'pandas.core.frame.DataFrame'>
Int64Index: 931 entries, 0 to 949
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            931 non-null    int64
 1   Team1         931 non-null    object
 2   Team2         931 non-null    object
 3   TossWinner    931 non-null    object
 4   TossDecision  931 non-null    object
 5   WinningTeam   927 non-null    object
 6   WonBy         931 non-null    object
 7   Margin        913 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 65.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Team1         28 non-null     object
 1   Team2         28 non-null     object
 2   TossWinner    28 non-null     object
 3   TossDecision  28 non-null     object
dtypes: object(4)
memory usage: 1.0+ KB
None

In [1055]:
# Print rows with missing 'WinningTeam' values
missing_winning_team = useful_data[useful_data['WinningTeam'].isnull()]
print(missing_winning_team)

# Drop rows with missing 'WinningTeam' values
useful_data = useful_data.dropna(subset=['WinningTeam'])

          ID                        Team1             Team2  \
205  1178424  Royal Challengers Bangalore  Rajasthan Royals
437   829813  Royal Challengers Bangalore  Delhi Daredevils
464   829763  Royal Challengers Bangalore  Rajasthan Royals
708   501265             Delhi Daredevils     Pune Warriors

                      TossWinner TossDecision WinningTeam      WonBy  Margin
205             Rajasthan Royals        field         NaN  NoResults     NaN
437  Royal Challengers Bangalore        field         NaN  NoResults     NaN
464             Rajasthan Royals        field         NaN  NoResults     NaN
708             Delhi Daredevils          bat         NaN  NoResults     NaN

In [1056]:
# Print rows with missing 'WinningTeam' values
missing_margin= useful_data[useful_data['Margin'].isnull()]
print(missing_margin)

# Drop rows with missing 'WinningTeam' values
useful_data = useful_data.dropna(subset=['Margin'])

          ID                        Team1                        Team2  \
114  1254077               Delhi Capitals          Sunrisers Hyderabad
158  1216512        Kolkata Knight Riders          Sunrisers Hyderabad
159  1216517               Mumbai Indians              Kings XI Punjab
184  1216547  Royal Challengers Bangalore               Mumbai Indians
192  1216493               Delhi Capitals              Kings XI Punjab
203  1178426               Mumbai Indians          Sunrisers Hyderabad
244  1175365        Kolkata Knight Riders               Delhi Capitals
339  1082625                Gujarat Lions               Mumbai Indians
474   829741             Rajasthan Royals              Kings XI Punjab
533   729315        Kolkata Knight Riders             Rajasthan Royals
608   598017  Royal Challengers Bangalore             Delhi Daredevils
621   598004          Sunrisers Hyderabad  Royal Challengers Bangalore
819   419121          Chennai Super Kings              Kings XI Punjab
883   392190        Kolkata Knight Riders             Rajasthan Royals

                      TossWinner TossDecision                  WinningTeam  \
114               Delhi Capitals          bat               Delhi Capitals
158          Sunrisers Hyderabad        field        Kolkata Knight Riders
159               Mumbai Indians          bat              Kings XI Punjab
184               Mumbai Indians        field  Royal Challengers Bangalore
192              Kings XI Punjab        field               Delhi Capitals
203               Mumbai Indians          bat               Mumbai Indians
244               Delhi Capitals        field               Delhi Capitals
339                Gujarat Lions          bat               Mumbai Indians
474              Kings XI Punjab        field              Kings XI Punjab
533             Rajasthan Royals          bat             Rajasthan Royals
608  Royal Challengers Bangalore        field  Royal Challengers Bangalore
621  Royal Challengers Bangalore          bat          Sunrisers Hyderabad
819          Chennai Super Kings        field              Kings XI Punjab
883        Kolkata Knight Riders        field             Rajasthan Royals

         WonBy  Margin
114  SuperOver     NaN
158  SuperOver     NaN
159  SuperOver     NaN
184  SuperOver     NaN
192  SuperOver     NaN
203  SuperOver     NaN
244  SuperOver     NaN
339  SuperOver     NaN
474  SuperOver     NaN
533  SuperOver     NaN
608  SuperOver     NaN
621  SuperOver     NaN
819  SuperOver     NaN
883  SuperOver     NaN

In [1057]:
useful_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913 entries, 0 to 949
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            913 non-null    int64
 1   Team1         913 non-null    object
 2   Team2         913 non-null    object
 3   TossWinner    913 non-null    object
 4   TossDecision  913 non-null    object
 5   WinningTeam   913 non-null    object
 6   WonBy         913 non-null    object
 7   Margin        913 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 64.2+ KB

In [1058]:
#there's no new teams however some teams have changed names over the course of years, 
#hence we will make the same changes in our dataset
useful_data = useful_data.replace('Delhi Daredevils', 'Delhi Capitals')
useful_data = useful_data.replace('Kings XI Punjab', 'Punjab Kings')
useful_data = useful_data.replace('Deccan Chargers', 'Sunrisers Hyderabad')
#and there's on spelling error
useful_data = useful_data.replace('Rising Pune Supergiant', 'Rising Pune Supergiants')
set(useful_data['Team1'].unique()).union(set(useful_data['Team2'].unique()))

{'Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad'}

In [1059]:
#finding runs scored in every innings of every match
innings_data = balls_data.groupby(['ID', 'innings']).sum()['total_run'].reset_index()
innings_data

/tmp/ipykernel_205/2542235890.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  innings_data = balls_data.groupby(['ID', 'innings']).sum()['total_run'].reset_index()

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [1060]:
#finding wickets taken in every innings of every match

# Group the data by 'ID' and 'innings', and then sum the 'isWicketDelivery' column
wickets_per_innings = balls_data.groupby(['ID', 'innings'])['isWicketDelivery'].sum().reset_index()

# Rename the columns as requested
wickets_per_innings.columns = ['ID', 'Innings', 'total_wickets']

# Display the resulting DataFrame
wickets_per_innings

           ID  Innings  total_wickets
0      335982        1              3
1      335982        2             10
2      335983        1              5
3      335983        2              4
4      335984        1              8
...       ...      ...            ...
1923  1312198        2              6
1924  1312199        1              8
1925  1312199        2              3
1926  1312200        1              9
1927  1312200        2              3

[1928 rows x 3 columns]

In [1061]:
#Feature Engineering
# Create an empty dataframe to store the total runs scored by each team
avg_runs = pd.DataFrame(columns=['Team', 'TotalRuns'])

# Iterate through each row in the innings_data dataframe
# Iterate through each row in the innings_data dataframe
for index, row in innings_data.iterrows():
    match_id = row['ID']
    innings = row['innings']
    total_run = row['total_run']

    # Find the corresponding row in the useful_data dataframe using the match ID
    match_data = useful_data.loc[useful_data['ID'] == match_id]
    
    # Check if the match_data dataframe is empty
    if match_data.empty:
        continue

    # Extract the toss winner and toss decision from the match_data row
    toss_winner = match_data.iloc[0]['TossWinner']
    toss_decision = match_data.iloc[0]['TossDecision']

    # Determine which team batted first based on the toss winner and toss decision
    if toss_decision == 'bat':
        batting_team = toss_winner
    else:
        batting_team = match_data.iloc[0]['Team2'] if toss_winner == match_data.iloc[0]['Team1'] else match_data.iloc[0]['Team1']

    # Update the total runs scored by the batting team in the avg_runs dataframe
    if batting_team not in avg_runs['Team'].values:
        avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
    else:
        avg_runs.loc[avg_runs['Team'] == batting_team, 'TotalRuns'] += total_run


# Calculate the number of matches played by each team in the useful_data dataframe
team_matches = useful_data['Team1'].append(useful_data['Team2']).value_counts()

# Calculate the average runs for each team by dividing the total runs by the number of matches played
avg_runs['AverageRuns'] = avg_runs.apply(lambda row: row['TotalRuns'] / team_matches[row['Team']], axis=1)

# Merge the avg_runs dataframe with the useful_data and ipl2023 dataframes to add the average runs scored by Team1 and Team2
useful_data = useful_data.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team1_avg_runs'})
useful_data = useful_data.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team2_avg_runs'})

ipl2023 = ipl2023.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team1_avg_runs'})
ipl2023 = ipl2023.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team2_avg_runs'})

#Feature Engineering
"""# Create empty dataframes to store the total runs scored and wickets taken by each team
avg_runs = pd.DataFrame(columns=['Team', 'TotalRuns'])
avg_wickets = pd.DataFrame(columns=['Team', 'TotalWickets'])

# Iterate through each row in the innings_data and wickets_per_innings dataframes
for index, row in innings_data.iterrows():
    match_id = row['ID']
    innings = row['innings']
    total_run = row['total_run']
    total_wickets = wickets_per_innings.loc[(wickets_per_innings['ID'] == match_id) & (wickets_per_innings['Innings'] == innings)]['total_wickets'].values[0]

    # Find the corresponding row in the useful_data dataframe using the match ID
    match_data = useful_data.loc[useful_data['ID'] == match_id]

    # Check if the match_data dataframe is empty
    if match_data.empty:
        continue

    # Extract the toss winner and toss decision from the match_data row
    toss_winner = match_data.iloc[0]['TossWinner']
    toss_decision = match_data.iloc[0]['TossDecision']

    # Determine which team batted first based on the toss winner and toss decision
    if toss_decision == 'bat':
        batting_team = toss_winner
    else:
        batting_team = match_data.iloc[0]['Team2'] if toss_winner == match_data.iloc[0]['Team1'] else match_data.iloc[0]['Team1']

    # Update the total runs scored and wickets taken by the batting team in the avg_runs and avg_wickets dataframes
    if batting_team not in avg_runs['Team'].values:
        avg_runs = pd.concat([avg_runs, pd.DataFrame({'Team': [batting_team], 'TotalRuns': [total_run]})], ignore_index=True)
        avg_wickets = pd.concat([avg_wickets, pd.DataFrame({'Team': [batting_team], 'TotalWickets': [total_wickets]})], ignore_index=True)
    else:
        avg_runs.loc[avg_runs['Team'] == batting_team, 'TotalRuns'] += total_run
        avg_wickets.loc[avg_wickets['Team'] == batting_team, 'TotalWickets'] += total_wickets

# Calculate the number of matches played by each team in the useful_data dataframe
team_matches = pd.concat([useful_data['Team1'], useful_data['Team2']]).value_counts()

# Calculate the average runs and wickets for each team by dividing the total runs and wickets by the number of matches played
avg_runs['AverageRuns'] = avg_runs.apply(lambda row: row['TotalRuns'] / team_matches[row['Team']], axis=1)
avg_wickets['AverageWickets'] = avg_wickets.apply(lambda row: row['TotalWickets'] / team_matches[row['Team']], axis=1)

# Merge the avg_runs and avg_wickets dataframes with the useful_data and ipl2023 dataframes to add the average runs scored and wickets taken by Team1 and Team2
useful_data = useful_data.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team1_avg_runs'})
useful_data = useful_data.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team2_avg_runs'})
useful_data = useful_data.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team1_avg_wickets'})
useful_data = useful_data.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team2_avg_wickets'})

ipl2023 = ipl2023.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team1_avg_runs'})
ipl2023 = ipl2023.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team2_avg_runs'})
ipl2023 = ipl2023.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team1_avg_wickets'})
ipl2023 = ipl2023.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team2_avg_wickets'})"""

/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  avg_runs = avg_runs.append({'Team': batting_team, 'TotalRuns': total_run}, ignore_index=True)
/tmp/ipykernel_205/553739516.py:37: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  team_matches = useful_data['Team1'].append(useful_data['Team2']).value_counts()

"# Create empty dataframes to store the total runs scored and wickets taken by each team\navg_runs = pd.DataFrame(columns=['Team', 'TotalRuns'])\navg_wickets = pd.DataFrame(columns=['Team', 'TotalWickets'])\n\n# Iterate through each row in the innings_data and wickets_per_innings dataframes\nfor index, row in innings_data.iterrows():\n    match_id = row['ID']\n    innings = row['innings']\n    total_run = row['total_run']\n    total_wickets = wickets_per_innings.loc[(wickets_per_innings['ID'] == match_id) & (wickets_per_innings['Innings'] == innings)]['total_wickets'].values[0]\n\n    # Find the corresponding row in the useful_data dataframe using the match ID\n    match_data = useful_data.loc[useful_data['ID'] == match_id]\n\n    # Check if the match_data dataframe is empty\n    if match_data.empty:\n        continue\n\n    # Extract the toss winner and toss decision from the match_data row\n    toss_winner = match_data.iloc[0]['TossWinner']\n    toss_decision = match_data.iloc[0]['TossDecision']\n\n    # Determine which team batted first based on the toss winner and toss decision\n    if toss_decision == 'bat':\n        batting_team = toss_winner\n    else:\n        batting_team = match_data.iloc[0]['Team2'] if toss_winner == match_data.iloc[0]['Team1'] else match_data.iloc[0]['Team1']\n\n    # Update the total runs scored and wickets taken by the batting team in the avg_runs and avg_wickets dataframes\n    if batting_team not in avg_runs['Team'].values:\n        avg_runs = pd.concat([avg_runs, pd.DataFrame({'Team': [batting_team], 'TotalRuns': [total_run]})], ignore_index=True)\n        avg_wickets = pd.concat([avg_wickets, pd.DataFrame({'Team': [batting_team], 'TotalWickets': [total_wickets]})], ignore_index=True)\n    else:\n        avg_runs.loc[avg_runs['Team'] == batting_team, 'TotalRuns'] += total_run\n        avg_wickets.loc[avg_wickets['Team'] == batting_team, 'TotalWickets'] += total_wickets\n\n# Calculate the number of matches played by each team in the useful_data dataframe\nteam_matches = pd.concat([useful_data['Team1'], useful_data['Team2']]).value_counts()\n\n# Calculate the average runs and wickets for each team by dividing the total runs and wickets by the number of matches played\navg_runs['AverageRuns'] = avg_runs.apply(lambda row: row['TotalRuns'] / team_matches[row['Team']], axis=1)\navg_wickets['AverageWickets'] = avg_wickets.apply(lambda row: row['TotalWickets'] / team_matches[row['Team']], axis=1)\n\n# Merge the avg_runs and avg_wickets dataframes with the useful_data and ipl2023 dataframes to add the average runs scored and wickets taken by Team1 and Team2\nuseful_data = useful_data.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team1_avg_runs'})\nuseful_data = useful_data.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team2_avg_runs'})\nuseful_data = useful_data.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team1_avg_wickets'})\nuseful_data = useful_data.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team2_avg_wickets'})\n\nipl2023 = ipl2023.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team1_avg_runs'})\nipl2023 = ipl2023.merge(avg_runs[['Team', 'AverageRuns']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageRuns': 'Team2_avg_runs'})\nipl2023 = ipl2023.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team1', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team1_avg_wickets'})\nipl2023 = ipl2023.merge(avg_wickets[['Team', 'AverageWickets']], left_on='Team2', right_on='Team').drop(columns=['Team']).rename(columns={'AverageWickets': 'Team2_avg_wickets'})"

In [1062]:
useful_data.drop(columns='ID', inplace = True)
useful_data

,Team1,Team2,TossWinner,TossDecision,WinningTeam,WonBy,Margin,Team1_avg_runs,Team2_avg_runs
0,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,Gujarat Titans,Wickets,7.0,146.383784,135.062500
1,Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,Wickets,7.0,146.383784,135.062500
2,Royal Challengers Bangalore,Gujarat Titans,Royal Challengers Bangalore,bat,Gujarat Titans,Wickets,6.0,157.198157,135.062500
3,Sunrisers Hyderabad,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,Wickets,5.0,166.596330,135.062500
4,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,bat,Gujarat Titans,Wickets,7.0,171.517241,135.062500
...,...,...,...,...,...,...,...,...,...
908,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,field,Rising Pune Supergiants,Runs,20.0,167.713656,168.148148
909,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,field,Rising Pune Supergiants,Runs,3.0,167.713656,168.148148
910,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,Rising Pune Supergiants,Wickets,9.0,167.713656,168.148148
911,Gujarat Lions,Rising Pune Supergiants,Gujarat Lions,field,Gujarat Lions,Wickets,7.0,146.896552,168.148148
912,Gujarat Lions,Rising Pune Supergiants,Rising Pune Supergiants,bat,Gujarat Lions,Wickets,7.0,146.896552,168.148148

In [1063]:
#Feature Engineering
#Since WonBy and Margin are important pieces of information about a team's performance, 
#we need to include them in our predictive model
#To do this we will create new features to capture the historical performances of all the teams

# Calculate average margin for runs
team_avg_margin_runs = useful_data[useful_data['WonBy'] == 'Runs'].groupby('WinningTeam')['Margin'].mean()

# Calculate average margin for wickets
team_avg_margin_wickets = useful_data[useful_data['WonBy'] == 'Wickets'].groupby('WinningTeam')['Margin'].mean()

# Map the calculated averages to the respective teams in ipl2022 DataFrame
useful_data['team1_avg_margin_runs'] = useful_data['Team1'].map(team_avg_margin_runs)
useful_data['team2_avg_margin_runs'] = useful_data['Team2'].map(team_avg_margin_runs)
useful_data['team1_avg_margin_wickets'] = useful_data['Team1'].map(team_avg_margin_wickets)
useful_data['team2_avg_margin_wickets'] = useful_data['Team2'].map(team_avg_margin_wickets)
useful_data = useful_data.drop(columns = ['WonBy','Margin'], axis=1)
useful_data.head()

,Team1,Team2,TossWinner,TossDecision,WinningTeam,Team1_avg_runs,Team2_avg_runs,team1_avg_margin_runs,team2_avg_margin_runs,team1_avg_margin_wickets,team2_avg_margin_wickets
0,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,Gujarat Titans,146.383784,135.0625,31.111111,30.25,5.929825,5.75
1,Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,146.383784,135.0625,31.111111,30.25,5.929825,5.75
2,Royal Challengers Bangalore,Gujarat Titans,Royal Challengers Bangalore,bat,Gujarat Titans,157.198157,135.0625,32.595745,30.25,6.578947,5.75
3,Sunrisers Hyderabad,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,166.596330,135.0625,24.603774,30.25,6.687500,5.75
4,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,bat,Gujarat Titans,171.517241,135.0625,35.406780,30.25,6.016667,5.75

In [1064]:
ipl2023['team1_avg_margin_runs'] = ipl2023['Team1'].map(team_avg_margin_runs)
ipl2023['team2_avg_margin_runs'] = ipl2023['Team2'].map(team_avg_margin_runs)
ipl2023['team1_avg_margin_wickets'] = ipl2023['Team1'].map(team_avg_margin_wickets)
ipl2023['team2_avg_margin_wickets'] = ipl2023['Team2'].map(team_avg_margin_wickets)
ipl2023.head()

,Team1,Team2,TossWinner,TossDecision,Team1_avg_runs,Team2_avg_runs,team1_avg_margin_runs,team2_avg_margin_runs,team1_avg_margin_wickets,team2_avg_margin_wickets
0,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,171.517241,135.062500,35.406780,30.250000,6.016667,5.75
1,Punjab Kings,Gujarat Titans,Gujarat Titans,field,170.322115,135.062500,26.130435,30.250000,6.360000,5.75
2,Delhi Capitals,Gujarat Titans,Gujarat Titans,field,134.773585,135.062500,29.054054,30.250000,6.196721,5.75
3,Chennai Super Kings,Lucknow Super Giants,Lucknow Super Giants,field,171.517241,179.333333,35.406780,24.142857,6.016667,6.00
4,Sunrisers Hyderabad,Lucknow Super Giants,Sunrisers Hyderabad,bat,166.596330,179.333333,24.603774,24.142857,6.687500,6.00

In [1065]:
##Testing
#'team1_avg_margin_runs', 'team2_avg_margin_runs', , 'team1_avg_margin_wickets', 'team2_avg_margin_wickets', 'Team1_avg_wickets', 'Team2_avg_wickets'
useful_data.drop(columns=[ 'team1_avg_margin_runs', 'team2_avg_margin_runs', 'team1_avg_margin_wickets', 'team2_avg_margin_wickets'], inplace = True)
ipl2023.drop(columns=['team1_avg_margin_runs', 'team2_avg_margin_runs', 'team1_avg_margin_wickets', 'team2_avg_margin_wickets'], inplace = True)
useful_data

,Team1,Team2,TossWinner,TossDecision,WinningTeam,Team1_avg_runs,Team2_avg_runs
0,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,Gujarat Titans,146.383784,135.062500
1,Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,146.383784,135.062500
2,Royal Challengers Bangalore,Gujarat Titans,Royal Challengers Bangalore,bat,Gujarat Titans,157.198157,135.062500
3,Sunrisers Hyderabad,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,166.596330,135.062500
4,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,bat,Gujarat Titans,171.517241,135.062500
...,...,...,...,...,...,...,...
908,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,field,Rising Pune Supergiants,167.713656,168.148148
909,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,field,Rising Pune Supergiants,167.713656,168.148148
910,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,Rising Pune Supergiants,167.713656,168.148148
911,Gujarat Lions,Rising Pune Supergiants,Gujarat Lions,field,Gujarat Lions,146.896552,168.148148
912,Gujarat Lions,Rising Pune Supergiants,Rising Pune Supergiants,bat,Gujarat Lions,146.896552,168.148148

In [1066]:
"""# Count the number of matches played by each team
team1_matches = useful_data['Team1'].value_counts()
team2_matches = useful_data['Team2'].value_counts()

# Combine the counts for both team1 and team2
total_matches = team1_matches.add(team2_matches, fill_value=0)

# Print the total matches for each team
print(total_matches)

# Find the teams that have played less than 50 matches
teams_less_than_50_matches = total_matches[total_matches < 50].index

# Remove the entries from the useful_data dataset where there's a team that has played less than 50 matches
useful_data = useful_data[~(useful_data['Team1'].isin(teams_less_than_50_matches) | useful_data['Team2'].isin(teams_less_than_50_matches))]"""

"# Count the number of matches played by each team\nteam1_matches = useful_data['Team1'].value_counts()\nteam2_matches = useful_data['Team2'].value_counts()\n\n# Combine the counts for both team1 and team2\ntotal_matches = team1_matches.add(team2_matches, fill_value=0)\n\n# Print the total matches for each team\nprint(total_matches)\n\n# Find the teams that have played less than 50 matches\nteams_less_than_50_matches = total_matches[total_matches < 50].index\n\n# Remove the entries from the useful_data dataset where there's a team that has played less than 50 matches\nuseful_data = useful_data[~(useful_data['Team1'].isin(teams_less_than_50_matches) | useful_data['Team2'].isin(teams_less_than_50_matches))]"

In [1067]:
# Count the number of matches played by each team
team1_matches = useful_data['Team1'].value_counts()
team2_matches = useful_data['Team2'].value_counts()

# Combine the counts for both team1 and team2
total_matches = team1_matches.add(team2_matches, fill_value=0)

# Print the total matches for each team
print(total_matches)
useful_data

Chennai Super Kings            203
Delhi Capitals                 212
Gujarat Lions                   29
Gujarat Titans                  16
Kochi Tuskers Kerala            13
Kolkata Knight Riders          211
Lucknow Super Giants            15
Mumbai Indians                 227
Pune Warriors                   45
Punjab Kings                   208
Rajasthan Royals               185
Rising Pune Supergiants         27
Royal Challengers Bangalore    217
Sunrisers Hyderabad            218
dtype: int64

,Team1,Team2,TossWinner,TossDecision,WinningTeam,Team1_avg_runs,Team2_avg_runs
0,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,Gujarat Titans,146.383784,135.062500
1,Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,146.383784,135.062500
2,Royal Challengers Bangalore,Gujarat Titans,Royal Challengers Bangalore,bat,Gujarat Titans,157.198157,135.062500
3,Sunrisers Hyderabad,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,166.596330,135.062500
4,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,bat,Gujarat Titans,171.517241,135.062500
...,...,...,...,...,...,...,...
908,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,field,Rising Pune Supergiants,167.713656,168.148148
909,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,field,Rising Pune Supergiants,167.713656,168.148148
910,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,Rising Pune Supergiants,167.713656,168.148148
911,Gujarat Lions,Rising Pune Supergiants,Gujarat Lions,field,Gujarat Lions,146.896552,168.148148
912,Gujarat Lions,Rising Pune Supergiants,Rising Pune Supergiants,bat,Gujarat Lions,146.896552,168.148148

In [1068]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import LabelEncoder

# Define functions to apply LabelEncoder on specific columns

team_name_map = {}

def encode_teams(data):
    le = LabelEncoder()
    le.fit(data['Team1'])
    data['Team1'] = le.transform(data['Team1'])
    data['Team2'] = le.transform(data['Team2'])
    data['TossWinner'] = le.transform(data['TossWinner'])
    if 'WinningTeam' in data.columns:
        data['WinningTeam'] = le.transform(data['WinningTeam'])
    
    for index, team_name in enumerate(le.classes_):
        team_name_map[index] = team_name
    return data

def encode_toss_decision(data):
    le_toss = LabelEncoder()
    le_toss.fit(data['TossDecision'])
    data['TossDecision'] = le_toss.transform(data['TossDecision'])
    return data

# Create FunctionTransformer objects for the encoding functions
team_encoder = FunctionTransformer(encode_teams)
toss_decision_encoder = FunctionTransformer(encode_toss_decision)

# Create the pipeline
encoding_pipeline = Pipeline([
    ('team_encoder', team_encoder),
    ('toss_decision_encoder', toss_decision_encoder)
])

# Apply the pipeline to ipl2022 and ipl2023
useful_data = encoding_pipeline.transform(useful_data)
ipl2023 = encoding_pipeline.transform(ipl2023)

In [1069]:
from  sklearn.model_selection import train_test_split

# Separate features and target
X = useful_data.drop('WinningTeam', axis=1)
y = useful_data['WinningTeam']

# Split into train and test sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Split train set further into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [1070]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model(y_true, y_pred, model_name="Model"):
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred, average='weighted', zero_division=0)
    recall = recall_score(y_true, y_pred, average='weighted', zero_division=0)
    f1 = f1_score(y_true, y_pred, average='weighted')
    
    print(f"{model_name} Performance:")
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")

In [1071]:
#create a baseline models
import xgboost as xgb

baseline_model = xgb.XGBClassifier(random_state = 42)
baseline_model.fit(X_train, y_train)

# Get the parameters of the baseline model
baseline_params = baseline_model.get_params()

# Print the parameters
for param_name, param_value in baseline_params.items():
    print(f"{param_name}: {param_value}")
    
from sklearn.ensemble import RandomForestClassifier

# Create a RandomForest baseline model
rf_baseline_model = RandomForestClassifier(random_state=42)
rf_baseline_model.fit(X_train, y_train)

# Get the parameters of the RandomForest baseline model
rf_baseline_params = rf_baseline_model.get_params()

# Print the parameters
for param_name, param_value in rf_baseline_params.items():
    print(f"{param_name}: {param_value}")

objective: multi:softprob
use_label_encoder: None
base_score: 0.5
booster: gbtree
callbacks: None
colsample_bylevel: 1
colsample_bynode: 1
colsample_bytree: 1
early_stopping_rounds: None
enable_categorical: False
eval_metric: None
feature_types: None
gamma: 0
gpu_id: -1
grow_policy: depthwise
importance_type: None
interaction_constraints:
learning_rate: 0.300000012
max_bin: 256
max_cat_threshold: 64
max_cat_to_onehot: 4
max_delta_step: 0
max_depth: 6
max_leaves: 0
min_child_weight: 1
missing: nan
monotone_constraints: ()
n_estimators: 100
n_jobs: 0
num_parallel_tree: 1
predictor: auto
random_state: 42
reg_alpha: 0
reg_lambda: 1
sampling_method: uniform
scale_pos_weight: None
subsample: 1
tree_method: exact
validate_parameters: 1
verbosity: None
bootstrap: True
ccp_alpha: 0.0
class_weight: None
criterion: gini
max_depth: None
max_features: auto
max_leaf_nodes: None
max_samples: None
min_impurity_decrease: 0.0
min_samples_leaf: 1
min_samples_split: 2
min_weight_fraction_leaf: 0.0
n_estimators: 100
n_jobs: None
oob_score: False
random_state: 42
verbose: 0
warm_start: False

In [1072]:
# Evaluating xgb baseline model
y_val_pred = baseline_model.predict(X_val)

evaluate_model(y_val, y_val_pred, "XGBoost Baseline Model")

# Evaluating RandomForest baseline model
y_val_pred_rf = rf_baseline_model.predict(X_val)

evaluate_model(y_val, y_val_pred_rf, "RandomForest Baseline Model")

XGBoost Baseline Model Performance:
Accuracy: 0.5464
Precision: 0.5503
Recall: 0.5464
F1 Score: 0.5468
RandomForest Baseline Model Performance:
Accuracy: 0.4754
Precision: 0.4752
Recall: 0.4754
F1 Score: 0.4732

In [1073]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

# Create a StratifiedKFold instance
stratified_kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)


param_grid = {
    'learning_rate': [0.01, 0.05, 0.1],  # Lower learning rates can help reduce overfitting
    'max_depth': [2, 3, 5],  # Limiting the maximum depth of the trees
    'n_estimators': [25, 50, 100],  # Trying different numbers of trees
    'subsample': [0.5, 0.8, 1],
    'colsample_bytree': [0.5, 0.8, 1],
    'reg_alpha': [0, 0.1, 0.5],  # Including more L1 regularization values
    'reg_lambda': [0, 0.1, 0.5],  # Including more L2 regularization values
    'gamma': [0, 0.1, 0.5],  # Trying different values for gamma
    'min_child_weight': [1, 5, 10]  # Including higher values for min_child_weight
}

grid_search = GridSearchCV(estimator=xgb.XGBClassifier(random_state=42),
                           param_grid=param_grid,
                           cv=stratified_kfold,  # Increasing the number of cross-validation folds for better estimation
                           scoring='accuracy',
                           verbose=0,
                           n_jobs=-1)

grid_search.fit(X_train, y_train)

# Get the best parameters and best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print("Best Parameters:", best_params)
print("Best Score:", best_score)

# Train the tuned model using the best parameters
tuned_model = xgb.XGBClassifier(**best_params, random_state=42)
tuned_model.fit(X_train, y_train)

/home/vidushee/miniconda3/envs/dsml4pe_new/lib/python3.10/site-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

Best Parameters: {'colsample_bytree': 0.5, 'gamma': 0.5, 'learning_rate': 0.1, 'max_depth': 2, 'min_child_weight': 1, 'n_estimators': 50, 'reg_alpha': 0.1, 'reg_lambda': 0.1, 'subsample': 1}
Best Score: 0.5657534246575342

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.5,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0.5, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.1, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=2, max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=50, n_jobs=0,
              num_parallel_tree=1, objective='multi:softprob', predictor='auto', ...)

In [1074]:
y_val_pred = tuned_model.predict(X_val)

evaluate_model(y_val, y_val_pred, "Tuned Model")

Tuned Model Performance:
Accuracy: 0.5738
Precision: 0.5812
Recall: 0.5738
F1 Score: 0.5564

In [1084]:
from sklearn.metrics import precision_recall_fscore_support, accuracy_score
val_predictions = tuned_model.predict(X_val)

# Get unique teams in ipl2023 dataset
ipl2023_teams = set(ipl2023['Team1'].unique()) | set(ipl2023['Team2'].unique())

# Calculate precision, recall, F1 score, and accuracy for each team
precision, recall, f1, _ = precision_recall_fscore_support(y_val, val_predictions, labels=list(ipl2023_teams), zero_division=0)
accuracy = accuracy_score(y_val, val_predictions)

# Print scores and occurrences for each team
for team_code in ipl2023_teams:
    team_name = team_name_map[team_code]  # Get the team name corresponding to the team code
    idx = list(ipl2023_teams).index(team_code)
    occurrences = total_matches.loc[team_code]
    print(f"{team_name}:")
    if team_code in list(y_val.unique()):
        print(f"  Precision: {precision[idx]:.4f}")
        print(f"  Recall: {recall[idx]:.4f}")
        print(f"  F1 Score: {f1[idx]:.4f}")
    else:
        print(f"  Precision: N/A")
        print(f"  Recall: N/A")
        print(f"  F1 Score: N/A")
    print(f"  Occurrences: {occurrences}")
print(f"Overall Accuracy: {accuracy:.4f}")

KeyError: 0